name: Export Dependabot Alerts

on:
  workflow_dispatch:

jobs:
  export-alerts:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install jq
        run: sudo apt-get install jq -y

      - name: Export Dependabot alerts to CSV
        run: |
          mkdir -p data
          curl -s -H "Authorization: Bearer ${{ secrets.GH_TOKEN }}" \
               -H "Accept: application/vnd.github+json" \
               https://api.github.com/repos/House-of-Heroz/techunlock/dependabot/alerts \
              jq -r '
                    [
                      "Numbers","Package","Severity","State","Summary","CVE"
                    ],
                    (
                      .[]? |
                      if type == "object" then
                        [
                          .number // "N/A",
                          .dependency.package.name // "N/A",
                          .security_advisory.severity // "N/A",
                          .state // "N/A",
                          .security_advisory.summary // "N/A",
                    
                          (
                            (.security_advisory.identifiers // [])
                            | if type == "array" then
                                map(select(.type=="CVE").value) | first
                              else
                                "N/A"
                              end
                          ) // "N/A"
                        ]
                      else
                        empty
                      end
                    )
                    | @csv
                    ' input.json > data/vulnerability.csv

      - name: Upload Vulnerability report
        uses: actions/upload-artifact@v4
        with:
          name: vulnerability_report
          path: data/vulnerability.csv
